
.header{
   background: linear-gradient(to right, rgb(0, 0, 0), rgb(49, 49, 49));
   color: aliceblue;
   height:200px;

   
}
.logotext{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 40px;
    padding: 12px;
    font-weight: bolder;
    color: rgb(255, 230, 0);
    text-shadow: 5px 10px 20px rgb(0, 0, 0);
}
.l{
    color:rgb(255, 230, 0) ;
    font-size: 30px;
}